{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>{{ locale.index_header }}</h1>
    <p>{{ locale.index_welcome_message }}</p>
    <a type="button" class="btn btn-lg btn-default" href="/en/survey"><span class="glyphicon glyphicon-th-list"></span>{{ locale.survey_goto_message }}</a>
    <a type="button" class="btn btn-lg btn-default" href="/ru/survey"><span class="glyphicon glyphicon-th-list"></span> Перейти к опросу 🇷🇺</a>
  </div>
</div>
{% endblock %}
