{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
    </a>
    <h1>Online-Survey for App</h1>
    <p>Thank you for taking part in our survey! If you want to retake the survey, click the button in order to proceed to it</p>
    <a type="button" class="btn btn-lg btn-default" href="/survey"><span class="glyphicon glyphicon-th-list"></span> Retake the Survey</a>
  </div>
</div>
{% endblock %}
