{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="text-center">
	<div class="container padding-left:5%">
	    	<h2>Login</h2>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="Absolute-Center is-Responsive">
		<div class="col-sm-12 col-md-10 col-md-offset-1">
			<form action="/auth/" method="POST"> {% csrf_token %}
				    <div data-role="fieldcontain">
				    	<div class="form-group input-group">
					    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					    <input class="form-control" type="text" name="username" id="username" placeholder="username" />
					    </div>
					</div>
				    <div data-role="fieldcontain">
				        <div class="form-group input-group">
				        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
				        <input class="form-control" type="password" name="password" id="password" placeholder="password" />
				        </div>
				    </div>
				    <div class="form-group">
				    	<button class="btn btn-def btn-block" type="submit" name="submit" value="submit-value">Login</button>
				    </div>
				    {% if form.non_field_errors %}
					     <div class="alert alert-danger">
					        {% for error in form.non_field_errors %}
					        <strong> Warning! </strong> {{ error }}
					        {% endfor %}
					    </div>
					{% endif %}				   
			</form>
		</div>
		</div>
	</div>
</div>

{% endblock %}